.content{
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.bg{
    position: absolute;
    left: 0;
    height: 100vh;
}
.info{
    width: 65%;
    margin-right: 100px;
    margin-top: 40px;
    color: white;
}
input{
    border: 1px solid #999;
    border-radius: 25px;
    min-width: 250px;
    margin-right: 10px;
    width: 87%;
    background: transparent;
    font-size: 20px;
    padding: 12px;
    color: white;
}
button{
    border: 1px solid #999;
    border-radius: 25px;
    margin-right: 10px;
    color: #fff;
    background: #2d333b;
    font-size: 20px;
    padding: 12px;
}
.perfil{
    display: flex;
    margin: 40px 0;
}
.profile{
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3{
    color: #999;
    font-size: 24px;
    margin: 0;
}
.perfil h4{
    color: #aaa;
    font-size: 18px;
    margin: 0;
}
.perfil span{
    display: block;
    color: #bbb;
    font-size: 12px;
    margin: 0;
}

.perfil p{
    color: #bbb;
    font-size: 12px;
    margin-top: 20px;
}
.repositorios h3{
    font-size: 40px;
    margin: 12px 0;
    text-align: center;
}